-----BEGIN RSA PRIVATE KEY-----
MIIJKAIBAAKCAgEArv4JT+/+DY9NYDhBuRmc83GPP3V2M/hbGd49EH7AXn5E4I1m
sjlBkF6ezX1qXarpd8Q53gkiO0wA8FGSO1lN9Sh9GdNssaWyaqcxCWZQJRD4vo3j
YutCBOMHNMM07/N54O5fTJSM2GBp4IWaRazw5DwC+ulo5jAkXvinKnZXpKbi6iwy
E8LMbU8Owzd2B83rQhdV0+ZByCj7IHA0DPIaXNC6AeRQW5b2LJOvAe3NkBaFKsu6
JwomQk5hYKnslXstKBf1XiOAMOldRNkhjd07VnROACxOQR6REWrQJGTYtVRWYQNj
7UJPjtqsddXrNU6CHfkxDluT5nyWVHucV/+imG3Y0ybbV2Ltgv0NiMbirui5ASWH
wJ4mrNLAnBntxy6skQ5JZ9AwEmdQ53PjarQtzuST00b5sDc4eJsUXp6nfThSqyxT
z9aRqJesIHmHZ5EY4BFQgG4aRmLu+j6bPhGKyPaAiDCgrzGOiFaiiu/nOGNlng2a
nPmEhem/sBnoBp+JHEMeS+mr3od01+DlCnazw9vrnqLdQ2a+j/MeK7vMLcEZRhYe
YXoEz70oMtPB2wL6nMcWyH03187YRRQz7IDIz+4jyWxTjiu7l4wJ9CQqQVv/eoHJ
oKLdJ7U3dMpVHb3pxeC6S4/+apmV7x3XvDGDUq1eZCxbyzax5fLnCJfX638CAwEA
AQKCAgEAmzej5O7YJwjsNiPQUDIi4GDjEgPLhA+QJyLUgVQcp/RSfeeOpxlYSYlU
TKso9MqL6fr45TSu02/4CTIhhlkRaBqw1H6PlAeIeUexnEfPYQFr0gIjJnPMjG8f
zjI0O354pgZqK5A8WhUy9L8s9w6OYbPFZPAyZrNfH4ppJKXx2Y9aCSKIjLSmBXMx
ggEoxYVmXqo6LAm6YaPQFJbR5IW+0oMl6lWs3YDK/QFGI2zegCcpmas5hDVheEDz
6PzwaCrpA/40W3sb0sa8PzxloeMRJf9lzIuAIgzN2mgnFZEKE9UqBUUvlpzR2sGm
ZaMIzbDEg3eshrK+PpxV77vxErEic6BsOI36/PXC8ZtySY/JePOgmd/ZTYHXLw2w
WmejLuYn4GWuxw0LVQAlKILeTcMXNgLT4y3fZcCJvWIfCmz/gyw40HWLGMJbuOs9
H/uQgzPkS5ch1+cmkOKZRUowd5a9wxXzkaD+G+w77fqjgPFRkO6fgRfXuGyWCLx6
aeykeOi2AeDu3MMOYBZRZAjliSfi00kkrzCIIVir718/4O3K+rlT3ZHtxeTL4/w7
rxfM/TUAkptm9UMSUketxIzRGV0ikoTRGOJj/Cs4uBnhqrMVKO23FRmygTPjgPId
4JQPOXY/ZmEp9azPK7zmkiBh2/PtOa61ieuYUQcl7KBIfjZkt2ECggEBAN0mgAx8
2usgnacm735ycc48Lwzn5o+Sd0/K3pR+J8OXoxPO6OFVorSEYBlQqCa7Bm0fPKCu
IJdltW6JcR2vaL9XSg/QYjfy7s4x34Rv1PBbFspgxAqO3Vkzef5eq5I0Uqe4Cm16
nS5aDrSc6ysqz0AGgKegLkZF9ykRSSt7V9dYnlxXIkDE//ehEwTXUIxYbqG60HFM
YnqwfzUAqOScE7Q2S2YVdC/fb1d+v9L+0jb565IIbF7EYq6fPnOsWSUe3CkpgQ6b
juD0/PPLFvvpuOmUtrTq0CxVXPbK3oBn5lDHoIhij1ZHHnyLRsGTN11Y0ODi+0vv
LrOhO2/JEh/qU28CggEBAMqRdXTewd6JwxFHzynoCsV+zNqHhxwgZIpx1f0yL8wB
yt5WT4NgLlI8L3Px1PM3i+Z9dBE2rx3S8Fuql+kThiQ1PQ0VkqrLZsrUT7mQJ8+R
1W8p5/lHFsBdGKF7wVX3aiim20VnBeejNpu2qjuaNHVh6HruvTFnW5vJAQIrbbN9
4MShtrlhY162os/rI2B9cuII2i8w25BASWN04xRLy5cOAnqcPIIHARInOd6nWOum
U7a1DkNiLN84xhuvSMhEdVMRyG2EEsu6zxg/sHNTN+10wOquhs1zUJd0jzLomVbf
Xzstz7RmJ275TU6Dtmvi9r9iUXTXdqwNShAH4lSGoPECggEAA+k1ZIMkv/nAr/8R
RzQw7QvFbT4AptNZRtD4pLmibGQXHzeOiMWh7f1VUb1Ka/zsvStLQDA0JVlIHx9R
H8xFVvTtO2BdDE5AiOb64/WyV1nVClkxvloOchBl/OihsiE4wPyROqRreTFghzMr
OYU1SxWSWuSLTPTZzSEgISO6RvWrP0jPM0QIntF7a59/Liw2MKgEHazTJQZQCZjs
Y7aa5pn7NV/1wQ77ghmcvNeC0jQTRW7es8JXWG06hoMqxGxKSnQQczivCy1p98nE
q0nT2lWl8YchjVcpILgvvSeZPB57qU3M6SKy2FMCOlQnK4BxmTiKZypgsg6M5Yox
xty3AwKCAQA9BHXJ/3OMchjVMrk/WUstVFWmmd5j5YoDfejEfQKSxBN0x7Dp1OX/
FWwB092eaaP1iOKWcM9s/2YxZoCdz6i/bV33fAES+3P6MtvU/IxRZQ9Sjd/3YaeD
yEcsFVgWahGLLz+rdy37KVnAq9Q5YejdVuGtbg6FPCoHEhQAsE46G/fBoyikTKaf
GAqQ8LZWUVNyrNH0FxZ8LDEvCT2Blpc76BdtEXTUggGbkz9GR0hsq0xaI82pFICJ
uNNL8Y/N63kfzaJ/AqKaxamuFzkyc+XL3DhkOLAYYNzs0kp0PkY6Ocy4ycLgB0ln
jybvOJORietjmN0KggCYMOSXUZimd2sxAoIBAGAh05Xlyhrx+qygOKk+PPWV0ssp
gGtBSoy9Z7uLRtlo/wThqOIZwbcVCqIlQ6YvD3WrQVdpexA6TvW5z5CsHVtUYUx6
UJzlt/Y54yxHXVs9wFCrADRjI2NI6D8g3XjPMEWbthNBmCC4oiWg+RnRIfIMTj3Y
+f9MnOcmLCJ6vHU59R6YFujqpoc4TIipaPq27zRwHhcq/r4pu48LssrSUJxGUYQZ
ulKrtG5vVst42bDB3qmM7k4ft4HnwJkET6hOa1QO9JsXq5RZ7zVtGKoibjqQd2zc
pRt8BYPdCvHyxhNq6zg0hMJZ0l2NQJkPBj5SbSaiivvaerC91ajDthuJkUc=
-----END RSA PRIVATE KEY-----
ptssh-hostkey-myserver  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDaKdDEczxtMEUFqfpPykApE4LlZKF13vzxtlL8Jnp9EmuAKUsy14/PTLj9ThjBWA20zNwg+DX6Y0niDpS8BGxm7F2bNopViGf1uPR6/P0WThi67UV3us6zym+nCadcngaWvzZG58H+XkZyssCnWnPoXiTA9X4eGDJcMrz0xqIDRnkzUytkH4oVg7Quvn+M0G4DP6Y7EpqgQ6coP8kA8siAkrB5WvXtjU5jgwkesBk+nC4tmpaTndgy9eNXJypeAyR8ZF1J7vY49e4hHCyFa45Y01BqnyaGtKK2WSUEFINi9e5UqSd0pTGmt0evA2XzHxucWZOW49YFgm9FEhD96PzsQgT0oXE8MG9TzhDGXqreiYB8a/TWh+Daxs2CFYt7eSHuM4dTstPJPV3aZvXtUfIhteTvXX/9CIwjNoxmjVbB66z14b6SFyBrmG3ubjZTsK5RCtgNIjVg1Y+4nUuKOLA3hiy1I3rZRmdVSV9jB/1GRWreAxgOL3G/KkzQ4p57TZYDwpNGDPyIks8D8jDX61vF2N4FnyiDN8nJf+RCS5n5YJ6/Bp8Ls7fEH9q/eM4snW6KEMDhu+zdYEK8UfODiDLlMiRSUGRdwJodkiwUb+nfH3OQrjPrsARkHX0/kNW86WiVerU1t0sg4KLWQ7qpAEOlg6mtznSvJ89TwnQqLKQF8Q== myuser  22   myserver.myexampledomain.com   -x myserver,myserver.myexampledomain.com,m
ptssh-hostkey-myserver2 ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDaKdDEczxtMEUFqfpPykApE4LlZKF13vzxtlL8Jnp9EmuAKUsy14/PTLj9ThjBWA20zNwg+DX6Y0niDpS8BGxm7F2bNopViGf1uPR6/P0WThi67UV3us6zym+nCadcngaWvzZG58H+XkZyssCnWnPoXiTA9X4eGDJcMrz0xqIDRnkzUytkH4oVg7Quvn+M0G4DP6Y7EpqgQ6coP8kA8siAkrB5WvXtjU5jgwkesBk+nC4tmpaTndgy9eNXJypeAyR8ZF1J7vY49e4hHCyFa45Y01BqnyaGtKK2WSUEFINi9e5UqSd0pTGmt0evA2XzHxucWZOW49YFgm9FEhD96PzsQgT0oXE8MG9TzhDGXqreiYB8a/TWh+Daxs2CFYt7eSHuM4dTstPJPV3aZvXtUfIhteTvXX/9CIwjNoxmjVbB66z14b6SFyBrmG3ubjZTsK5RCtgNIjVg1Y+4nUuKOLA3hiy1I3rZRmdVSV9jB/1GRWreAxgOL3G/KkzQ4p57TZYDwpNGDPyIks8D8jDX61vF2N4FnyiDN8nJf+RCS5n5YJ6/Bp8Ls7fEH9q/eM4snW6KEMDhu+zdYEK8UfODiDLlMiRSUGRdwJodkiwUb+nfH3OQrjPrsARkHX0/kNW86WiVerU1t0sg4KLWQ7qpAEOlg6mtznSvJ89TwnQqLKQF8Q== myuser2 2345 myserver2.myexampledomain2.com -X myserver2,myserver2.myexampledomain2.com,m2
